.quote-generator-card {
  min-height: 240px;
  padding: 20px 40px 60px 40px !important;
  box-shadow: 0px 2px 6px rgba(0 0 0 / 0.2);
  border-radius: 20px;
  margin-bottom: 20px;

  p:first-child {
    text-shadow: 1px 1px 2px rgba( 0 0 0 / 0.2);
  }

}


.spinner-border {
  position: absolute;
  width: 200px !important;
  height: 200px !important;
  opacity: 0.2;
}
